*

!/.gitignore



!/eee-121/

!/eee-121/meeting-1/
!/eee-121/meeting-1/hello.cpp
!/eee-121/meeting-1/types.cpp

!/eee-121/meeting-2/
!/eee-121/meeting-2/exerciseA.cpp
!/eee-121/meeting-2/exerciseB.cpp
!/eee-121/meeting-2/exerciseC.cpp

!/eee-121/meeting-3/
!/eee-121/meeting-3/exerciseA.cpp
!/eee-121/meeting-3/exerciseB.cpp

!/eee-121/meeting-4/
!/eee-121/meeting-4/exercise4_JOCSON.cpp

!/eee-121/meeting-5/
!/eee-121/meeting-5/exercise5_JOCSON.cpp



!/eee-148/

!/eee-148/lab-1/
!/eee-148/lab-1/ltspice/
!/eee-148/lab-1/ltspice/activity-1.asc
!/eee-148/lab-1/ltspice/plot-1.1.1.png
!/eee-148/lab-1/ltspice/plot-1.1.2.png
!/eee-148/lab-1/ltspice/plot-1.1.3.png
!/eee-148/lab-1/ltspice/plot-1.1.4.png
!/eee-148/lab-1/ltspice/plot-1.3.rc.png
!/eee-148/lab-1/ltspice/plot-1.3.rcb.png
!/eee-148/lab-1/ltspice/plot-1.3.rl.png
!/eee-148/lab-1/ltspice/plot-1.3.rlb.png
!/eee-148/lab-1/main.typ

!/eee-148/lab-2/
!/eee-148/lab-2/assets/
!/eee-148/lab-2/assets/center-freq.png
!/eee-148/lab-2/assets/high-cutoff.png
!/eee-148/lab-2/assets/low-cutoff.png
!/eee-148/lab-2/assets/semilog.png
!/eee-148/lab-2/main.typ

!/eee-148/lab-3/
!/eee-148/lab-3/main.typ
!/eee-148/lab-3/assets/
!/eee-148/lab-3/assets/circuit1-oscilloscope.png
!/eee-148/lab-3/assets/circuit1-sketch.png
!/eee-148/lab-3/assets/circuit2-oscilloscope.pnh
!/eee-148/lab-3/assets/circuit2-sketch.png
!/eee-148/lab-3/assets/circuit3-hysteresis.png
!/eee-148/lab-3/assets/circuit3-oscilloscope.png
!/eee-148/lab-3/assets/circuit3-sketch.png
!/eee-148/lab-3/assets/circuit4-hysteresis.png
!/eee-148/lab-3/assets/circuit5-oscilloscope.png
!/eee-148/lab-3/assets/circuit5-sketch.png



!/math-22/
!/math-22/ho-1.typ
!/math-22/ho-2.typ
